@(searchForm: Form[views.form.ProductListForm], infoList: List[Form[views.form.ProductListDisplayInfo]])

@views.html.sql.main("一覧") {
<div class="container">
	<div class="row">
		<div class="page-header">
		@helper.form(action = controllers.sql.routes.ProductListController.index) {
			<div class="input-group col-sm-4">
				<input type="text" class="form-control" placeholder="キーワード" name="searchWord" value="@searchForm("searchWord").value">
					<span class="input-group-btn">
						<button type="submit"  class="btn input-default">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							検索
						</button>
					</span>
			</div>
			<a class="btn btn-primary pull-right" href="@controllers.sql.routes.ProductInfoManageController.init">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				新規作成
			</a>
		}
		</div>
		<div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>商品番号</th>
						<th>商品名</th>
						<th>価格</th>
						<th>説明文</th>
						<th>作成日時</th>
						<th>更新日時</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				@infoList.map { field =>
					<tr>
						<td>@field("prodNo").value</td>
						<td>@field("prodName").value</td>
						<td>@field("price").value</td>
						<td>@field("caption").value</td>
						<td>@field("createdAt").value</td>
						<td>@field("updatedAt").value</td>
						<td>
							<a class="btn btn-success" href="@controllers.sql.routes.ProductInfoManageController.edit(field("prodNo").value)">編集</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
</div>
}